@tailwind base;
@tailwind components;
@tailwind utilities;

div, svg, nav, a {
    box-sizing: border-box;
}

h1, h2, h3, a, p, span, img {
    font-family: "Rubik", sans-serif;
    font-size: medium;
    font-weight: 400;
    color: rgb(100 116 139);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

